body {
    font-family: sans-serif;
    background-color: green;
    width: 100%;
}

h1 {
    text-align: center;
}

header {
    background-image: linear-gradient(to right, blue, orange, blue);
    width: 100%;
}
